<?xml version="1.0"?>
<config>
    <modules>
        <Mbrzuzy_Stripe>
            <version>1.0.0</version>
        </Mbrzuzy_Stripe>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mbrzuzy_stripe>
                    <file>mbrzuzy/stripe.xml</file>
                </mbrzuzy_stripe>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <stripe>
                <class>Mbrzuzy_Stripe_Model</class>
            </stripe>
        </models>
        <helpers>
            <stripe>
                <class>Mbrzuzy_Stripe_Helper</class>
            </stripe>
        </helpers>
        <blocks>
            <stripe>
                <class>Mbrzuzy_Stripe_Block</class>
            </stripe>
        </blocks>
    </global>
    <default>
        <payment>
            <stripe>
                <active>0</active>
                <model>stripe/standard</model>
                <api_url>https://api.stripe.com</api_url>
                <order_status>1</order_status>
                <title>Credit Card (Stripe)</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <payment_action>authorize</payment_action>
                <avssuccess>A,B,C,D,G,I,M,N,P,R,S,T,U,W,X,Y,Z</avssuccess>
                <responses></responses>
                <allowspecific>0</allowspecific>
            </stripe>
        </payment>
    </default>
</config>
